<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>A propos de CoachMasta</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
    <ion-card>
       <ion-card-header>
          <ion-card-title class="ion-text-center" color="primary">Biographie de Coach Masta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item color="light">
          <ion-img src="/assets/img/about.jpg"></ion-img>  
        </ion-item>
     
    
  <p class="ion-text-justify">
    Parmi les tops jeunes influenceurs tchadiens, connu sous le nom <strong>Coach Masta,</strong> avec des dizaines des milliers des 
    vidéos vues et des contenus partagés, mon nom complet est<strong>  Moustapha Ahmat Khalid.</strong></p>
  <p class="ion-text-justify">Ingénieur en Génie Logiciel et Systèmes d’information, professionnel en développement dotnet et certifié expert en bases des données 
    Oracle(depuis octobre 2016), j'ai travaillé sur des projets d'envergure en Tunisie, au Tchad et en France. En plus, j'ai eu à servir les principales missions du 
    Tchad à l'étranger à savoir la Mission du Tchad auprès des nations unies (à New York), l'ambassade du Tchad en Belgique et auprès de l'Union Européenne, l'ambassade
     du Tchad en Ethiopie et auprès de l'Union Africaine ainsi que l'ambassade du Tchad en Algérie et en Tunisie.</p>
  <p class="ion-text-justify">Dans ma vie professionnelle, j'ai intervenu notamment dans le secteur logiciel, l'administration publique, l'éducation nationale ainsi
     que dans l'énergie.</p>
  <p class="ion-text-justify">Passionné par le partage du savoir et le coaching, je suis le promoteur de plusieurs projets sociaux dont le <strong>Lycée Numérique 
    du Tchad</strong> où je partage mes connaissances et expériences tout en orientant les jeunes vers l'excellence. Auteur du livre <strong>
      <a href="https://www.amazon.fr/LInformatique-lyc%C3%A9e-Ahmat-Khalid-Moustapha/dp/6202273755">L'informatique au lycée</a></strong>, 
      cours conçu pour les élèves de la 1ere S, j'ai donné des cours au lycée et à l'université durant mon séjour au Tchad, mon pays d'origine de fin 2015 à fin 2017.
    </p>
  <p class="ion-text-justify"><strong>Secteur logiciel</strong></p>
  
  <blockquote>
      <p class="ion-text-justify">
        J'ai intervenu dans plusieurs projets logiciels et j'ai, par ailleurs, mis en place avec un collègue un Framework permettant de générer 
        des applications web complètes, extensibles et adaptables en dotnet à partir d’un schéma Oracle.
      </p>
    </blockquote>
  <p class="ion-text-justify"><strong>...Administration publique :</strong></p>
  <blockquote >
    <p class="ion-text-justify">
  D'abord assistant au sein du Centre National d’Appui à la Recherche au Tchad pendant 3 mois, j'ai été rappelé aussitôt pour rejoindre 
    l'Agence de Développement des Technologies de L'Information et de la Communication (ADETIC) en tant que premier ingénieur à être recruté sur contrat. 
    j'ai occupé le poste d'ingénieur chargé du suivi technique des systèmes d'information de l’Etat pendant une année et 9 mois avant d'être promu en tant que 
    <strong>Chef de Service Systèmes d’Information</strong>. Poste duquel je démissionne 6 mois plus tard pour commencer une nouvelle aventure en France où
     je cherche à monter en compétences dans le développement logiciel, notamment dotnet ainsi que le management des projets logiciels dans un environnement 
     multilingue, multiculturel et multidisciplinaire.
    </p></blockquote>
  <p class="ion-text-justify"><strong>Énergie</strong></p>
  <p class="ion-text-justify">J'ai eu à collaborer dans plusieurs projets relatifs au chantier Linky (compteur intelligent) ainsi 
    que dans des projets de gaz et d'eau, en France, impliquant des équipes des grandes sociétés(Altran, Atos, Suez...).
  </p>
</ion-card-content>
</ion-card>
</ion-content>
