<ion-header>
  <ion-toolbar>
    <ion-title>Contactez-nous</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card  color="success">
    <ion-card-header>
       <ion-card-title class="ion-text-center"> 13 13</ion-card-title>
   </ion-card-header>
   <ion-card-content  class="ion-text-justify" >
    En cas des suspicions de symptômes ou en cas des besoins d'information sur le Coronavirus au Tchad, appelez le 1313.
</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>

  <ion-img src="/assets/img/logoadetic.png"></ion-img>  

  </ion-card-content>
</ion-card>
    <ion-card>
        <ion-card-header>
           <ion-card-title class="ion-text-center" color="secondary">Contactez-nous</ion-card-title>
       </ion-card-header>
       <ion-card-content>
    
   Pour nous contacter, écrivez nous au contact@coronavirus-tchad.com <br />  ou écrivez-nous via notre site web
     <a href="http://www.coronavirus-tchad.com">www.coronavirus-tchad.com</a> ou via notre page Facebook 
     <a href="http://www.facebook.com/SanteTD">Prévention Coronavirus Tchad</a>.
      
     
  </ion-card-content>
</ion-card>
</ion-content>
