<ion-header>
  <ion-toolbar>
    <ion-title>Contactez-nous</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
           <ion-card-title class="ion-text-center" color="secondary">Contactez-nous</ion-card-title>
       </ion-card-header>
       <ion-card-content>
    
   Pour nous contactez, écrivez nous au contact@coronavirus-tchad.com <br />  ou écrivez-nous sur via notre site web
     <a href="http://www.coronavirus-tchad.com">www.coronavirus-tchad.com</a> ou via notre page Facebook 
     <a href="http://www.facebook.com/SanteTD">Prévention Coronavirus Tchad</a>.
      
     
  </ion-card-content>
</ion-card>
</ion-content>
